.App {
  text-align: center;
}

.title {
  padding: 10px;
  background-color: blueviolet;
  color: white;
}

.board, .case {
  border: 2px solid black;
}

.game {
  min-width: 300px;
  width: 50%;
  margin: auto;
}

.bold{
  font-weight: bold;
}

.new-game button {
  background-color: green;
  color: white;
  border-radius: 5%/10%;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 300px;
  margin: auto;
  position: relative;
}

.finger-paint {
  font-family: 'Finger Paint', cursive;
}

.case {
  font-size: 70px;
  width: 100px;
  height: 100px;
}

.case p {
  transform: translateY(-10px);
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.last-played-case {
  border: 2px solid rgb(57, 31, 207);
}

.settings {
  display: flex;
  height: 85px;
  width: 300px;
  margin: 10px auto;
}

.level {
  width: 200px;
  padding: 10px;
}

.opponent {
  width: 100px;
  padding: 10px;
}

.switch {
  margin-top: 15px;
  border-radius: 15%/50%;
  color: white;
  background-color: blueviolet;
  font-size: 14px;
  display: flex;
}

.switch:hover, .slider:hover{
  cursor: pointer;
}

.switch .value {
  flex: 1;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 3px;
  
  background-color: #dadada;
}

.statistics {
  width: 300px;
  margin: 10px auto;
}

.statistics .general {
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}
.statistics .general .infos {
  display: flex;
}
.statistics .general .infos .rating,
.statistics .general .infos .games
{
  margin-left: 10px;
  font-weight: bold;
}

.statistics .general .infos .rating {
  color: green;
}

.statistics .general .infos .games{
  color: blueviolet;
}

.game-bar {
  margin-top: 10px;
}

.game-bar .default {
  justify-content: space-between;
  font-size: 22px;
}

.game-bar .header, .game-bar .footer,
.game-bar .wins, .game-bar .draws,
.game-bar .losses, .game-bar .default {
  display: flex;
  align-items: center;
}

.game-bar .wins {
  color: #85a94e;
}
.game-bar .draws {
  color: #8a8886;
}
.game-bar .losses {
  color: #b33430;
}

.tricolor-bar {
  height: 10px;
  border-radius: 2%/50%;
  display: flex;
  overflow: hidden;
}

.tricolor-bar .bar {
  height: 100%;
}

.tricolor-bar .win, .plus, .green-background {
  background-color: #85a94e;
}
.tricolor-bar .draws, .equal, .dead-background {
  background-color: #8a8886;
}
.tricolor-bar .losses, .minus, .red-background {
  background-color: #b33430;
}

.game-bar .footer {
  font-size: 12px;
}
.game-bar .footer .element {
  overflow: hidden;
}

.plus, .minus, .equal {
  color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 15%;
  height: 15px;
  width: 15px;
}

.plus p, .minus p, .equal p {
  transform: translateY(-6px);
}

.line {
  position: absolute;
  height: 10px;
  width: 270px;
  border-radius: 2%/50%;
  background-color: #b33430a6;
}

.status {
  width: 300px;
  margin: 10px auto;
  display: flex;
}

.status .player, .status .opponent, .status .new-game {
  width: 100px;
  display: flex;
  align-items: center;
}
.status .new-game {
  justify-content: center;
}

.status .player, .status .opponent {
  justify-content: space-between;
  padding: 0 20px;
}

.player-char {
  font-size: 25px;
}

.game-mode, .game-mode .choices {
  display: flex;
}

.game-mode {
  margin: 10px 0;
  justify-content: center;
  justify-items: center;
}

.game-mode .choices {
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.game-mode h4 {
  padding: 5px;
}

.game-mode .choices .choice {
  padding: 5px 10px;
}