.App {
  text-align: center;
}

.header {
  background-color: blueviolet;
  height: 50px;
  position: relative;
}
.header .title {
  display: flex;
  justify-content: center;
}

.header .title .link {
  color: white;
  text-decoration: none;
}

.header .auth-links {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.header .auth-links .auth-btn, .player-menu h3 {
  margin-right: 10px;
}

.login-link-btn, .signup-link-btn{
  cursor: pointer;
  color: white;
  border-radius: 7%
} 

.login-link-btn {
  background: none;
  border: 1px solid white;
}

.signup-link-btn {
  background: #85a94e;
  border: 1px solid #85a94e;
}

.player-menu {
  color: white;
  cursor: pointer;
  position: relative;
}

.player-menu .menu {
  display: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  position: absolute;
  text-align: left;
  top: 50px;
  right: 0;
}

.player-menu .menu-item {
  color: black;
  text-decoration: none;
}

.player-menu .menu-item:hover {
  color: blueviolet;
}

.player-menu:hover .menu {
  display: block
}

.board, .case {
  border: 2px solid black;
}

.game {
  min-width: 300px;
  width: 50%;
  margin: auto;
}

.bold{
  font-weight: bold;
}

.new-game button {
  background-color: green;
  color: white;
  border-radius: 5%/10%;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 300px;
  margin: auto;
  position: relative;
}

.finger-paint {
  font-family: 'Finger Paint', cursive;
}

.case {
  font-size: 70px;
  width: 100px;
  height: 100px;
}

.case p {
  transform: translateY(-10px);
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.last-played-case {
  border: 2px solid rgb(57, 31, 207);
}

.settings {
  display: flex;
  height: 85px;
  width: 300px;
  margin: 10px auto;
}

.level {
  width: 200px;
  padding: 10px;
}

.opponent {
  width: 100px;
  padding: 10px;
}

.switch {
  margin-top: 15px;
  border-radius: 15%/50%;
  color: white;
  background-color: blueviolet;
  font-size: 14px;
  display: flex;
}

.switch:hover, .slider:hover{
  cursor: pointer;
}

.switch .value {
  flex: 1;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 3px;
  
  background-color: #dadada;
}

.status {
  width: 300px;
  margin: 10px auto;
  display: flex;
}

.status .player, .status .opponent, .status .new-game {
  width: 100px;
  display: flex;
  align-items: center;
}
.status .new-game {
  justify-content: center;
}

.status .player, .status .opponent {
  justify-content: space-between;
  padding: 0 20px;
}

.player-char {
  font-size: 25px;
}

.game-mode, .game-mode .choices {
  display: flex;
}

.game-mode {
  margin: 10px 0;
  justify-content: center;
  justify-items: center;
}

.game-mode .choices {
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.game-mode h4 {
  padding: 5px;
}

.game-mode .choices .choice {
  padding: 5px 10px;
}