.App {
  text-align: center;
}

.title {
  padding: 10px;
}

.board, .case {
  border: 2px solid black;
}

.game {
  min-width: 300px;
  width: 50%;
  margin: auto;
  margin-top: 15px;
}

.new-game {
  margin-top: 15px;
}

.new-game button {
  background-color: green;
  color: white;
  border-radius: 5%/10%;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 300px;
  margin: auto;
}

.case {
  font-size: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.red-border {
  border: 2px solid rgb(0, 255, 115);
}