.App {
  text-align: center;
}

.title {
  padding: 10px;
  background-color: blueviolet;
  color: white;
}

.board, .case {
  border: 2px solid black;
}

.game {
  min-width: 300px;
  width: 50%;
  margin: auto;
}

.new-game {
  margin-top: 10px;
}

.new-game button {
  background-color: green;
  color: white;
  border-radius: 5%/10%;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 300px;
  margin: auto;
}

.case {
  font-size: 70px;
  width: 100px;
  height: 100px;
}

.case p {
  transform: translateY(-10px);
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.last-played-case {
  border: 2px solid rgb(57, 31, 207);
}

.settings {
  display: flex;
  height: 85px;
  width: 300px;
  margin: 10px auto;
}

.level {
  width: 200px;
  padding: 10px;
}

.opponent {
  width: 100px;
  padding: 10px;
}

.switch {
  margin-top: 15px;
  border-radius: 15%/50%;
  color: white;
  background-color: blueviolet;
  font-size: 14px;
  display: flex;
}

.switch:hover, .slider:hover{
  cursor: pointer;
}

.switch .value {
  flex: 1;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 3px;
  
  background-color: #dadada;
}