.auth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auth-inputs{
    border: black solid 1px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    outline: none;
}

.auth-container p {
    text-align: left;
}

.link-redirect {
    color: #0000EE;
}

.auth-label , .auth-button-container,
.auth-link-to-component, .auth-error-container{
    margin-top: 10px;
}

.auth-link-to-component, .random-password, .auth-error {
    font-size: 14px;
}

.auth-error {
    color: red;
}

.eye {
    margin-left: -30px;
    font-size: 25px;
    cursor: pointer;
}

.sugested-password {
    margin-left: 3px;
    cursor: pointer;
}